.icon-au {
  background-image: url('../images/sprite.png');
  background-position: -174px -106px;
  width: 22px;
  height: 15px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-check-larger {
  background-image: url('../images/sprite.png');
  background-position: -152px -121px;
  width: 16px;
  height: 15px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-check {
  background-image: url('../images/sprite.png');
  background-position: -168px -121px;
  width: 12px;
  height: 11px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-fb {
  background-image: url('../images/sprite.png');
  background-position: -32px -106px;
  width: 30px;
  height: 30px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-inst {
  background-image: url('../images/sprite.png');
  background-position: -62px -106px;
  width: 30px;
  height: 30px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-mark {
  background-image: url('../images/sprite.png');
  background-position: 0px 0px;
  width: 106px;
  height: 106px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-phone {
  background-image: url('../images/sprite.png');
  background-position: 0px -106px;
  width: 32px;
  height: 32px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-play {
  background-image: url('../images/sprite.png');
  background-position: -106px 0px;
  width: 97px;
  height: 97px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-ru {
  background-image: url('../images/sprite.png');
  background-position: -152px -106px;
  width: 22px;
  height: 15px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-vk {
  background-image: url('../images/sprite.png');
  background-position: -122px -106px;
  width: 30px;
  height: 30px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

.icon-you {
  background-image: url('../images/sprite.png');
  background-position: -92px -106px;
  width: 30px;
  height: 30px;
  +breakpoint(retina) {
    background-image: url('../images/sprite-2x.png');
    background-size: 203px 138px;
  }
}

