{{#items}}
.icon-{{name}} {
  background-image: url('../images/{{{escaped_image}}}');
  background-position: {{px.offset_x}} {{px.offset_y}};
  width: {{px.width}};
  height: {{px.height}};
  +breakpoint(retina) {
    background-image: url('../images/{{{image2x}}}');
    background-size: {{px.total_width}} {{px.total_height}};
  }
}

{{/items}}
