/* 'OswaldBold'
'OswaldRegular'
'OpenSansRegular'
'OpenSansLight'
'OpenSansBold'
'OpenSansSemibold'
'OpenSansItalic'
'OpenSansLightItalic'
'HelveticaNeueCyrHeavy'
'RopaSansProBold'
'RopaSansProBoldItalic'
'RopaSansProItalic'
'RopaSansProLight'
'RopaSansProLightItalic'
'RopaSansProMedium'
'RopaSansProRegular' */

.main-articles {
	@include reset-list;
	margin-bottom:22px;
	@include clearfix;
		li {
			width:calc(50% - 10px);
			float:left;
			position: relative;
				&:first-child {
					margin-right:20px;
				}
		}
		.this-desc {
			position: absolute;
			bottom:0;
			left:0;
			padding:19px 40px;
			background: rgba(255,255,255,.90);
			width:100%;
			text-align: center;
		}
		.icon {
			position:absolute;
			top:15px;
			right:12px;
		}
		h2 {
			max-width: 330px;
			color:$color-2;
			font-family: 'OswaldBold';
			text-transform: uppercase;
			margin:0 auto 10px;
		}
		.btn {
			max-width: 330px;
			margin:0 auto;
			line-height: 48px;
			padding-top:0;
			padding-bottom:0;
			font-size: 14px;
		}
		img {
			width:100%;
			display:block;
		}
}

.top-articles {
	@include reset-list;
	@include clearfix;
	@include display-flex;
	margin-bottom:21px;
		li {
			border:8px solid rgba(84,172,255,0.5);
			width:calc(33.33% - 11.3px);
			text-align: center;
				&:not(:first-child) {
					margin-left: 17px;
				}
		}
		.img-cont {
			margin:-8px -8px 0;
		}
		.this-body {
			padding:35px;
			color:#fff;
		}
		h3 {
			margin-bottom: 16px;
		}
		p {
			font-size: 13px;
			margin-bottom:36px;	
		}
		.btn {
			background: #ffffff;
			color:$color-1;
			font-size: 13px;
			text-transform: uppercase;
			padding:0 30px;
			line-height: 40px;
				&:hover {
					background: $color-2;
					color:#fff;
				}
		}
}

.about-us {
	margin-bottom:55px;
		h2 {
			margin-bottom: 28px;	
		}
}

.video-block {
	position:relative;
	margin-bottom:30px;
		img {
			display: block;
			width:100%;
		}
}
.play {
	position:absolute;
	top:50%;
	left:50%;
	margin:-48.5px 0 0 -48.5px;
}

.about-list {
	@include reset-list;
	font-size:12px;
		li {
			margin-bottom: 30px;
		}
		h4 {
			padding-left:30px;
			position:relative;
			font-size: 17px;
			margin-bottom: 15px;
			color:$color-1;
			font-family: 'OswaldRegular';
		}
		.icon {
			position:absolute;
			left:0;
			top:50%;
			margin-top:-7.5px;
		}
}

.about-us-btns {
	.btn:not(:last-child) {
		margin-right:20px;
	}
}

.comments-about-us {
	margin-bottom:30px;
	font-size:12px;
		h4 {
			text-transform: uppercase;
			color:#222222;
			margin-bottom: 30px;
		}
}

.comments-list {
	@include reset-list;
		li {
			padding:30px 0;
			border-bottom:1px solid #ebebeb;
				&:first-child {
					padding-top:0;
				}
		}
		p:last-child {
			margin-bottom: 0;
		}
}

.comment-header {
	margin-bottom:20px;
}
.comment-ava, .comment-details, .comment-rating {
	@include inline-block;
}
.comment-ava, .comment-details {
	margin-right:18px;
}

.username {
	font-family:'OpenSansBold';
	font-size:13px;
	margin-bottom:3px;
}

.comment-date {
	color:#868686;
	font-size:12px;
}

.comment-rating {
	padding:5px 12px;
	line-height:1;
	color:#fff;
	background:#6b84c3;
	@include border-radius(15px);
	white-space:nowrap;
	font-family:'OpenSansSemibold';
}

.stars {
	@include inline-block;
		i {
			color:$color-1;
				&.active {
					color:#fff;
				}
		}
}

.load-more {
	color:#222;
	font-size:13px;
	background:#f8f8f8;
	border:none;
	@include border-radius(0);
	font-family:'OpenSansRegular';
}

.news-list {
	@include reset-list;
		li {
			margin-bottom: 30px;
			@include clearfix;
			font-size: 12px;
		}
}

.news-title {
	font-size:18px;
	font-family:'OswaldRegular';
	margin-bottom:4px;
	line-height:1.1;
}

.news-date {
	color:#838383;
	font-size:10px;
	margin-bottom:16px;
}

.news-img {
	float:left;
	margin-right:25px;
}

.news-desc {
	margin-bottom:12px;
	line-height:1.7;
}

.courses {
	background:#eef4fb;
	padding:55px;
		h2 {
			text-align: center;
			margin-bottom:42px;
		}
}


.courses-list {
	@include reset-list;
	@include display-flex;
	margin-left:-17px;
	@include flex-wrap(wrap);
		li {
			width:calc(25% - 17px);
			margin-left: 17px;
			margin-bottom: 17px;
				img {
					display:block;
					width:100%;
					@include transition(opacity 0.4s)
					@include opacity(0.8);
				}
				&:hover {
					img {
						@include opacity(1);
					}
				}
		}
}

.course-desc {
	text-align: center;
	color:#fff;
	padding:20px 20px 25px;
	text-transform: uppercase;
		h4 {
			margin-bottom: 16px;
		}
		.btn {
			color:#fff;
		}
}

.view-all {
	font-size:14px;
	background:#f1f6fc;
	padding-left:30px;
	padding-right:30px;
	text-transform:uppercase;
}

.contacts {
	p {
		margin-bottom: 30px;
		font-size: 14px;
		line-height: 1.5;
	}
}

.feedback {
	label {
		font-size: 13px;
		margin-bottom: 6px;
		display:block;
	}
	textarea {
		height: 194px;
	}
	.btn {
		text-transform: uppercase;
		padding:12px 30px;
	}
}

.breadcrumb {
	margin-top:20px;
	margin-bottom:0;
	padding:0;
	background:none;
		li {
			color:#666666;
			font-size: 11px;
				a {
					color:#666666;
					@include dec-n;
				}
				span {
					font-family: 'OpenSansBold';
				}
		}
}

.static-content {
	h1,h2,h3,h4,h5,h6 {
		color:$color-1;
		text-transform: uppercase;
	}
	h1 {
		font-size: 28px;
	}
	h2 {
		font-size: 18px;
	}
	h3 {
		font-size: 16px;
	}
	h4 {
		font-size: 14px;
	}
	h5 {
		font-size: 12px;
	}
	h6 {
		font-size: 10px;
	}
	ul:not(.about-list):not(.comments-list):not(.news-list):not(.faq-list):not(.reset-list) {
		@include reset-list;
		margin:30px 0;
			li {
				position:relative;
				padding-left:30px;
				margin-bottom: 7px;
					&:before {
						height:7px;
						width:7px;
						top:7px;
						position:absolute;
						left:5px;
						content:'';
						background: $color-1;
						@include border-radius(50%);
					}
			}
	}
	blockquote {
		border: {
			top:1px solid #e2e2e2;
			bottom:1px solid #e2e2e2;
			left:none;
			right:none;
		};
		padding:35px 39px;
		margin-bottom: 30px;
		font-family: 'OpenSansItalic';
		color:#737373;
		font-size: 15px;
	}
	.btn {
		font-size: 14px;
		text-transform: uppercase;
		padding:15px 30px;
		margin-bottom: 15px;
			&:not(:last-child) {
				margin-right:22px;
			}
	}
	p {
		margin-bottom: 30px;
	}
	a:not(.btn) {
		@include dec-y;
	}
}

.faq {
	h2 {
		font-size: 18px;
	}
}

.faq-list {
	@include reset-list;
	margin-bottom:45px;
		> li {
			border-bottom:1px solid #e2e2e2;
				&:first-child {
					border-top:1px solid #e2e2e2;
				}
				&.active {
					> a {
						&:after {
							border: {
								bottom:7px solid $color-1;
								top-width:0;
							};
						}
					}
				}
				> a {
					padding:23px 0;
					display:block;
					font-size: 15px;
					text-decoration: none !important;
					position: relative;
					padding-right:30px;
						&:after {
							position:absolute;
							@include transition(border 0.4s);
							right:8px;
							border: {
								left:5px solid transparent;
								right: 5px solid transparent;
								top:7px solid $color-1;
							};
							top:50%;
							margin-top:-3.5;
							content:'';
						}
				}
		}
}
.answer-block {
	display:none;
	padding-bottom:35px;
	font-size:13px;
}

.inner-page {
	.header-top {
		border-bottom:1px solid #dfdfdf;
	}
}

.content-video {
	max-width:634px;
}

.courses-list-2 {
	@include reset-list;
	@include display-flex;
	@include flex-wrap(wrap);
	@include justify-content(space-between);
	font-size:13px;
	line-height:1.7;
	margin-bottom:30px;
		> li {
			@include flex(0 0 392px);
			padding:33px;
			background:#f6f5f1;
			position:relative;
			margin-bottom: 15px;
				&:after {
					width:83px;
					height: 83px;
					position:absolute;
					top:0;
					right:0;
					background:url(../images/bg/tape1.png) no-repeat;
					content:'';
					margin-top:-5px;
					margin-right: -5px;
				}
				&.gray {
					background: #f1f2f3;
						&:after {
							background:url(../images/bg/tape2.png) no-repeat;
						}
				}
		}
		h3 {
			font-size: 18px;
			font-family: 'OswaldRegular';
			color:#242424;
			margin-bottom: 22px;
		}
		p {
			margin-bottom: 22px;
		}
		.dropdown {
			label {
				display:block;
				margin-bottom: 5px;
			}
		}
		.form-group {
			margin-bottom: 16px;
		}
		.select {
			width:100%;
			> span {
				height: 39px;
				line-height: 39px;
				border-color:#c7d1e3;
				background: #fff;
				@include border-radius(3px);
				padding:0 36px 0 16px;
				font-size: 13px;
				text-transform: none;
					&:after {
						border-left: 5px solid transparent;
				    border-right: 5px solid transparent;
				    border-top: 7px solid #2b4483;
				    margin-top: -3.5px;
				    position: absolute;
				    right: 15px;
					}
			}
		}
		.this-btns {
			margin-top:30px;
		}
		.price {
			color:#2b4483;
			font-family: 'OswaldRegular';
			@include inline-block;
			margin-right: 26px;
			font-size: 24px;
			line-height: 42px;
			vertical-align: top;
		}
		.btn {
			padding-left: 40px;
			padding-right: 40px;
			font-size: 13px;
		}
}
.note {
	background:#f8f8f8;
	padding:40px;
}