@font-face {
    font-family: 'OswaldBold';
    src: url('../fonts/oswald/bold/OswaldBold.eot');
    src: url('../fonts/oswald/bold/OswaldBold.eot') format('embedded-opentype'),
         url('../fonts/oswald/bold/OswaldBold.woff2') format('woff2'),
         url('../fonts/oswald/bold/OswaldBold.woff') format('woff'),
         url('../fonts/oswald/bold/OswaldBold.ttf') format('truetype'),
         url('../fonts/oswald/bold/OswaldBold.svg#OswaldBold') format('svg');
}


@font-face {
    font-family: 'OswaldRegular';
    src: url('../fonts/oswald/regular/OswaldRegular.eot');
    src: url('../fonts/oswald/regular/OswaldRegular.eot') format('embedded-opentype'),
         url('../fonts/oswald/regular/OswaldRegular.woff2') format('woff2'),
         url('../fonts/oswald/regular/OswaldRegular.woff') format('woff'),
         url('../fonts/oswald/regular/OswaldRegular.ttf') format('truetype'),
         url('../fonts/oswald/regular/OswaldRegular.svg#OswaldRegular') format('svg');
}
