/* 'OswaldBold'
'OswaldRegular'
'OpenSansRegular'
'OpenSansLight'
'OpenSansBold'
'OpenSansSemibold'
'OpenSansItalic'
'OpenSansLightItalic'
'HelveticaNeueCyrHeavy'
'RopaSansProBold'
'RopaSansProBoldItalic'
'RopaSansProItalic'
'RopaSansProLight'
'RopaSansProLightItalic'
'RopaSansProMedium'
'RopaSansProRegular' */
html,body {
	height:100%;
	// overflow-x:hidden;
}
* {
	outline:none;
}

body {
	font-family:'OpenSansRegular', sans-serif;
	font-size:14px;
	color:#222222;
	line-height:1.4;
	background:#ffffff;
	min-width:320px;
}


h1,h2,h3,h4,h5,p {
	margin:0 0 20px;
}
h1 {
	font-size:32px;
}
h2 {
	font-size:28px;
}
h3 {
	font-size:24px;
}
h4 {
	font-size:20px;
}
h5 {
	font-size:16px;
}
h6 {
	font-size:12px;
}

h1,h2,h3,h4,h5,h6 {
	font-family:'OswaldBold';
	font-weight:normal;
}

strong,b {
	font-family:'OpenSansBold';
}

.title {
	color:$color-1;
	text-transform:uppercase;
	margin-bottom:28px;
}

a {
	color:$color-1;
		&:hover {
			color:$color-2;
		}
}

img {
	max-width:100%;
}

.icon {
	@include inline-block;
}

.relative {
	position:relative;
}

.overflowed {
	overflow:hidden;
}


.btn {
	@include border-radius(3px);
	border:none;
	@include transition(all 0.4s);
	font-family:'OpenSansBold';
	line-height:1;
}

.btn-primary {
	background:$color-1;
}
.btn-default {
	background:none;
	color:$color-1;
	font-family:'OpenSansSemibold';
	padding:10px 15px;
	font-size:12px;
	border:1px solid #d7dce8;
		&:hover {
			background: $color-1;
			color:#fff;
		}
		&:active {
			color:#fff !important;
			background: $color-2 !important;
		}
}

.btn-full {
	display:block;
	width:100%;
	text-align:center;
}


input {
	&[type='text'],
	&[type='email'],
	&[type='password'],
	&[type='number'],
	&[type='search'] {
		border-color:#c7d1e3;
		height: 44px;
		padding:0 15px;
		font-size: 13px;
		@include border-radius(3px);
	}
}
textarea {
	@include border-radius(3px);
	border-color:#c7d1e3;
	padding:10px 15px;
	resize:vertical;
	-webkit-resize:vertical;
	-moz-resize:vertical;
}

.form-group {
	margin-bottom:24px;
		&.required {
			label {
				position:relative;
				padding-right:15px;
					&:after {
						content: '*';
						color:#eb0000;
						font-size: 14px;
						position:absolute;
						right:0;
						top:0;
					}
			}
		}
}

.clear {
	clear: both;
}



hr {
	border-color:#d4d3d5;
}

.align-helper {
	height:100%;
	@include inline-block;
	vertical-align:middle;
}

.select {
	@include inline-block;
	position:relative;
		> span {
			line-height: 20px;
			border:1px solid $border-color;
			display: block;
			white-space: nowrap;
			padding:0 22px 0 10px;
			position:relative;
			text-transform: uppercase;
			cursor: pointer;
				&:after {
					content:'';
					position:absolute;
					top:50%;
					right:7px;
					margin-top:-2px;
					border:{
						left:3.5px solid transparent;
						right:3.5px solid transparent;
						top:4px solid #3c4447;
					};
				}
		}
		ul {
			position:absolute;
			border:1px solid $border-color;
			top:100%;
			min-width:100%;
			left:0;
			margin-top:1px;
			background:#fff;
			@include reset-list;
			z-index: 19;
				li {
					cursor: pointer;
					padding:6px 10px;
					@include transition(all 0.4s);
						&:hover {
							background:$color-1;
							color:#fff;
						}
				}
		}
}
.primary-select {
	.select {
		font-size: 12px;
		> span {
			line-height: 24px;
			height: 24px;
			background:#fff;
			color:#707475;
			text-transform: none;
			padding-right:30px;
			border:1px solid $border-color;
				&:before {
					width:20px;
					height: 20px;
					top:1px;
					right:2px;
					background: $color-1;
					content:'';
					position:absolute;
				}
				&:after {
					content:'';
					position:absolute;
					top:50%;
					right:7px;
					margin-top:-2.5px;
					border:{
						left:5px solid transparent;
						right:5px solid transparent;
						top:5px solid #fff;
					};
				}
		}
		ul {
				li {
					color:#707475;
						&:hover {
							color:#fff;
						}
				}
		}
	}
}

.checkbox {
	cursor:pointer;
	margin:0;
	@include inline-block;
	margin-right:10px;
	input {
		display:none;
	}
	span {
		display:block;
		font-size:12px;
	}
	i {
		@include inline-block;
		height: 19px;
		width: 19px;
		background:#fff;
		margin-top:-1px;
		margin-right:14px;
		position:relative;
		border:1px solid #c7d1e3;
		line-height: 19px;
			&:before,&:after {
				position:absolute;
				content:'';
				width:2px;
				background:#3c4447;
				@include opacity(0);
			}
			&:before {
				height: 0;
				@include transition(all 0.3s);
		    left: 4px;
		    top: 7px;
		    @include transform(rotate(-35deg));
			}
			&:after {
				@include transition(all 0.6s);
				height: 0;
		    left: 10px;
		    bottom: 2px;
		    @include transform(rotate(35deg));
			}
	}
	input:checked+span{
		i {
			&:before, &:after {
				@include opacity(1);
			}
			&:before {
				height: 8px;
			}
			&:after {
				height: 13px;
			}
		}
	}
}

.form-control {
	@include border-radius(0);
	border-color:#e8e8e8;
	height:24px;
	line-height:24px;
}

label {
	font-weight:normal;
	margin-bottom:0;
}

.container {
	padding:0 10px;
	min-width:320px;
}

@media (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}


#main-container {
	min-height:100%;
	overflow:hidden;
}

.top-bg {
	background:url(../images/bg/header-bg.jpg) no-repeat center top/cover;
	@include clearfix;
}

.contents {
	@include display-flex;
	padding:35px 0;
}

.contents-inner {
	padding:30px 0;
		.left-content {
			padding-right:55px;
		}
		.right-content {
			@include flex(0 0 326px);
		}
}

.left-content {
	@include flex(1);
	padding-right:95px;
}

.right-content {
	@include flex(0 0 446px);
}

.q {
	@include inline-block;
	cursor:pointer;
	color:#fff;
	font-family: 'OpenSansBold';
	background:#b2bacc;
	@include border-radius(50%);
	line-height:19px;
	height:19px;
	width:19px;
	text-align:center;
	font-style:normal;
	margin:0 10px;
}