include pug/project-settings.pug
include pug/mixins/mixins.pug
- var table2 = {1: 'false', 2: 'true', 3: 'false', 4: 'false', 5: 'false'};
doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
	body.inner-page
		include pug/svg.pug
		#main-container
			.top-bg
				header#header
					.header-top
						.container
							ul.advantages
								li
									i.icon.icon-check
									= 'We teach perfect buoyancy from the start'
								li
									i.icon.icon-check
									= 'Best instructors in Sydney'
								li
									i.icon.icon-check
									= 'Personal approach & small groups training'

							// advantages end
							.header-contacts
								i.icon.icon-phone
								a.tel(href='tel:02 9553 8738') (02) 9553 8738
								a.tel(href='tel:0400 667 708 ') 0400 667 708 
								a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au

							// header-contacts end
					// header-top end
					.header-bottom.container
						span.align-helper
						a.logo(href='#')
						// logo end
						i.nav-header
							span
						nav.main-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
									ul
										li
											a(href='#') Learn to Dive
											ul
												li
													a(href='#') Open water course
												li
													a(href='#') Refresh your Open water course
												li
													a(href='#') Try Dive
												li
													a(href='#') Scuba rangers
										li
											a(href='#') Continue your diving education (specialty courses)
											ul.two-col
												li
													a(href='#') Buoyancy Techniques
												li
													a(href='#') Rescue Diver
												li
													a(href='#') Advanced Diver
												li
													a(href='#') Advanced Wreck Diver
												li
													a(href='#') Nitrox Diver (up to 40%)
												li
													a(href='#') Dry Suit Diving
												li
													a(href='#') Night Diving
												li
													a(href='#') First Aid
												li
													a(href='#') Underwater Navigation
												li
													a(href='#') Oxygen Provider
												li
													a(href='#') Deep Diving
												li
													a(href='#') Master Class
												li
													a(href='#') Wreck Diving
										li
											a(href='#') Career in Diving
											ul
												li
													a(href='#') Dive Guide
												li
													a(href='#') Divemaster
												li
													a(href='#') Dive Control Specialist
												li
													a(href='#') Open Water Instructor
												li
													a(href='#') Specialty Instructor
								li
									a(href='#') Club Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// main-nav end
					// header-bottom end
				// header end
			// top-bg end
			main#content
				section.container
					ul.breadcrumb
						li
							a(href='#') Home
						li
							a(href='#') Category
						li
							span Page name
					.contents.contents-inner
						.left-content
							.static-content
								h1 This is a basic content page H1
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. 
								<br>
								h2 This is a H2 subtitle
								p
									img(src='images/img/content-img-1.jpg')
								<br>
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								ul
									li Lorem ipsum dolor sit amet, consectetur adipiscing elit
									li Sed do eiusmod tempor incididunt 
									li Labore et dolore magna aliquat enim ad minim veniam
									li Quis nostrud exercitation ullamco laboris
								blockquote This is an example of wordpress quote. SSI (Scuba Schools International) is the world's largest store based training agency. SSI Instructors and Dive Masters, must be affiliated with a physical store. PADI (Professional Association of Diving Instructors) is the world's largest scuba training agency. PADI Instructors can teach independent of a dive store.
								p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
								p
									a.btn.btn-default(href='#') this is a button
									a.btn.btn-primary(href='#') this is a blue button
								<br>
								section.faq
									h2 This is an example of the FAQ section
									ul.faq-list
										li
											a(href='#') Что мне нужно взять с собой на обучение?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Существуют ли ограничения для обучающихся?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Что входит в стоимость курса?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Что нужно выполнить перед обучением?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Чем мы будем заниматься в первый день?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Чем мы будем заниматься во второй и третий день?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Когда я смогу получить свой сертификат?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.

									// faq-list end
							// static-content end
						// left-content end
						.right-content.sidebar
							h2.title news & events
							ul.news-list
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Club Dives This Weekend - 15th of July
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Leafy seadragons, caverns, crayfish and staying in prison
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
							// news-list end
							a.btn.btn-default(href='#') View all events
							<br>
							<br>
							<br>
							<br>
							.comments-about-us
								h3.title our reviews
								ul.comments-list
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
								// comments-list end
								a.btn.btn-default.btn-full.load-more(href='#') Load more
							// comments-about-us end
							.our-instagramm
								h2.title our instagram
								div
									img(src='images/img/instagramm.jpg')
						// right-content end
				// container end
				section.courses
					.container
						h2.title OUR COURSES
						ul.courses-list
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-1.jpg')
								.course-desc
									h4 BUOYANCY TECHNIQUES
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-2.jpg')
								.course-desc
									h4 ADVANCED DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-3.jpg')
								.course-desc
									h4 NITROX DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-4.jpg')
								.course-desc
									h4 NIGHT & LIMITED VISIBILITY
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-5.jpg')
								.course-desc
									h4 underwater navigation
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-6.jpg')
								.course-desc
									h4 deep diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-7.jpg')
								.course-desc
									h4 wreck diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-8.jpg')
								.course-desc
									h4 RESCUE DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
						// courses-list end
						.text-center
							a.btn.btn-default.view-all(href='#') view all our advanced courses
					// container end
				// courses end
				.container
					section.contents
						.left-content
							.contacts
								h4.title come, see us!
								p
									strong Address: 
									=' 670 Princes Highway, Kogarah NSW 2217 Australia'
									<br>
									strong Phone: 
									=' +61 2 95538738'
									<br>
									strong Mobile: 
									=' 0400 667 708'
								p
									strong We’re open:
									<br>
									=' Tuesday - Friday: 10am – 18pm'
									=' Saturday - Sunday: 8am – 17pm'
								p
									strong We speak:
									<br>
									=' English, Russian,  官話'
								img.team-img(src='images/img/team.jpg')
						// left-content end
						.right-content
							.feedback
								h4.title GET IN touch
								form
									.form-group.required
										label Your Name
										input.form-control(type='text')
									.form-group.required
										label Email
										input.form-control(type='email')
									.form-group
										label Phone number (we will call you back)
										input.form-control(type='text')
									.form-group.required
										label Your Message
										textarea.form-control
									button.btn.btn-default(type='submit') send
								// form end
							// feedback end
						// right-content end
					// contents end
				// container end
			// content end
		// main-container end
		footer#footer
			.container
				.footer-inner
					.footer-left
						nav.footer-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
								li
									a(href='#') Clib Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// footer-nav end
						.social-nets
							a(href='#')
								i.icon.icon-fb
							a(href='#')
								i.icon.icon-vk
							a(href='#')
								i.icon.icon-inst
							a(href='#')
								i.icon.icon-you

						// social-nets end
					// footer-left end
					.footer-right
						.footer-contacts
							span (02) 9553 8738
							span 0400 667 708
							a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au
						// footer-contacts end
						.copyright 2017 &copy; Scubathlon Australia
					// footer-right end
		include pug/scripts.pug
