include pug/project-settings.pug
include pug/mixins/mixins.pug
- var table2 = {1: 'false', 2: 'true', 3: 'false', 4: 'false', 5: 'false'};
doctype html
html
	head(lang="en")
		include pug/metatags.pug
		+title('Главная')
		include pug/styles.pug
	body.inner-page
		include pug/svg.pug
		#main-container
			.top-bg
				header#header
					.header-top
						.container
							ul.advantages
								li
									i.icon.icon-check
									= 'We teach perfect buoyancy from the start'
								li
									i.icon.icon-check
									= 'Best instructors in Sydney'
								li
									i.icon.icon-check
									= 'Personal approach & small groups training'

							// advantages end
							.header-contacts
								i.icon.icon-phone
								a.tel(href='tel:02 9553 8738') (02) 9553 8738
								a.tel(href='tel:0400 667 708 ') 0400 667 708 
								a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au

							// header-contacts end
					// header-top end
					.header-bottom.container
						span.align-helper
						a.logo(href='#')
						// logo end
						i.nav-header
							span
						nav.main-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
									ul
										li
											a(href='#') Learn to Dive
											ul
												li
													a(href='#') Open water course
												li
													a(href='#') Refresh your Open water course
												li
													a(href='#') Try Dive
												li
													a(href='#') Scuba rangers
										li
											a(href='#') Continue your diving education (specialty courses)
											ul.two-col
												li
													a(href='#') Buoyancy Techniques
												li
													a(href='#') Rescue Diver
												li
													a(href='#') Advanced Diver
												li
													a(href='#') Advanced Wreck Diver
												li
													a(href='#') Nitrox Diver (up to 40%)
												li
													a(href='#') Dry Suit Diving
												li
													a(href='#') Night Diving
												li
													a(href='#') First Aid
												li
													a(href='#') Underwater Navigation
												li
													a(href='#') Oxygen Provider
												li
													a(href='#') Deep Diving
												li
													a(href='#') Master Class
												li
													a(href='#') Wreck Diving
										li
											a(href='#') Career in Diving
											ul
												li
													a(href='#') Dive Guide
												li
													a(href='#') Divemaster
												li
													a(href='#') Dive Control Specialist
												li
													a(href='#') Open Water Instructor
												li
													a(href='#') Specialty Instructor
								li
									a(href='#') Club Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// main-nav end
					// header-bottom end
				// header end
			// top-bg end
			main#content
				section.container
					ul.breadcrumb
						li
							a(href='#') Home
						li
							a(href='#') Category
						li
							span Page name
					.contents.contents-inner
						.left-content
							.static-content
								h1.title Learn To Dive: Open water courses
								.video-block.content-video
									a.play(href='#')
										i.icon.icon-play
									img(src='images/img/video-img.jpg')
								// vide-block end
								p Поздравляем! Добро пожаловать в яркое приключение вашей жизни - подводный дайвинг! И начинается оно с того, что вам нужно пройти базовое обучение по международно-сертифицированной программе и получить необходимые для комфортных погружений навыки. 

								p После прохождения обучения вы получите международно признанный сертификат SSI Open Water Certificate, который признается во всем мире и гарантирует, что вы прошли качественное обучение.
								blockquote SSI (Scuba Schools International) is the world's largest store based training agency. SSI Instructors and Dive Masters, must be affiliated with a physical store. PADI (Professional Association of Diving Instructors) is the world's largest scuba training agency. PADI Instructors can teach independent of a dive store.
								h2 our courses
								ul.reset-list.courses-list-2
									li
										h3 Open Water gold
										p This is your starting point – and what better way to start then with a globally recognized Open-Water certificate, ensuring you can dive anywhere in the world and learn the best skills available to do so!
										p
											strong What’s inside:
										p
											='Online training'
											br
											='Free digital logbook'
											br
											='Pool entries'
											br
											='All gear and air refills'
											br
											='4 open water dives'
											br
										.form-group.dropdown
											label Choose language:
											select
												option English
										.form-group
											label.checkbox
												input(type='checkbox')
												span 
													i
													= 'I’m interested in '
											a(href='#') Adventure Package
											i.q ?
										.this-btns
											.price $395
											a.btn.btn-primary(href='#') book now
									li.gray
										h3 Open Water gold
										p This is your starting point – and what better way to start then with a globally recognized Open-Water certificate, ensuring you can dive anywhere in the world and learn the best skills available to do so!
										p
											strong What’s inside:
										p
											='Online training'
											br
											='Free digital logbook'
											br
											='Pool entries'
											br
											='All gear and air refills'
											br
											='4 open water dives'
											br
										.form-group.dropdown
											label Choose language:
											select
												option English
										.form-group
											label
												input(type='checkbox')
												span I’m interested in 
											a(href='#') Adventure Package
											i.q ?
										.this-btns
											.price $395
											a.btn.btn-primary(href='#') book now
								// courses-list-2 end
								p Each course is run over 3 days with an academic component (which can be done at any time prior to your first practical lesson). You will start in the pool and learn basic skills like handling your gear, water entries and breathing techniques; right through to correct buoyancy, swimming styles and even emergency procedures.

								p After pool training, you will have the opportunity to put all these skills into practice with number of open-water dives full of fun, adventure and excitement.

								p Группы состоят из максимум 4х человек для удобства обучения (если у вас большая компания, не переживайте - мы просто добавим дополнительного инструктора)
								section.faq
									h2 This is an example of the FAQ section
									ul.faq-list
										li
											a(href='#') Что мне нужно взять с собой на обучение?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Существуют ли ограничения для обучающихся?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Что входит в стоимость курса?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Что нужно выполнить перед обучением?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Чем мы будем заниматься в первый день?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Чем мы будем заниматься во второй и третий день?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.
										li
											a(href='#') Когда я смогу получить свой сертификат?
											.answer-block
												p Пройти SSI Open Water Diver Course могут все, кто комфортно чувствует себя в воде и не имеет специальных медицинских 
													a(href='#') противопоказаний.
												p Вы должны быть старше 12 лет (для детей существует специальный курс Junior Open Water Diver). You must be able to swim 200m in a pool and tread water and float for 10 minutes.

									// faq-list end
									.note
										h2 Why choose Scubathlon?
										p Наш центр был основан профессиональными дайвинг-инструкторами с многолетним опытом погружений по всему миру

										p Мы учим нейтральной плавучести с самого первого занятия

										p В занятия входят базовые техники безопасности под водой

										p Обучение доступно на 5ти языках: английском, русском, китайском, арабском и испанском

										p Все оборудование и экипировка предоставляется на время обучения бесплатно!

							// static-content end
						// left-content end
						.right-content.sidebar
							h2.title news & events
							ul.news-list
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Club Dives This Weekend - 15th of July
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Leafy seadragons, caverns, crayfish and staying in prison
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
								li
									.news-title
										a(href='#') Dive the World's Best Reef - Raja Ampat
									.news-date April 13, 2018
									.overflowed
										p.news-desc Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. 
										a.learn-more(href='#') Learn more...
							// news-list end
							a.btn.btn-default(href='#') View all events
							<br>
							<br>
							<br>
							<br>
							.comments-about-us
								h3.title our reviews
								ul.comments-list
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
									li
										.comment-header
											.align-helper
											img.comment-ava(src='images/img/user-img-1.jpg')
											.comment-details
												.username
													a(href='#') Kyle Nard
												.comment-date 3 weeks ago
											// comment-details end
											.comment-rating
												span
													='5 stars - '
												.stars
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
													i.fa.fa-star.active
										// comment-header end
										p Best place to learn scuba diving in Sydney, no doubts. Great set of people - helpful, very professional, easy to deal with. It was an absolute pleasure to dive with Scubathlon!
								// comments-list end
								a.btn.btn-default.btn-full.load-more(href='#') Load more
							// comments-about-us end
							.our-instagramm
								h2.title our instagram
								div
									img(src='images/img/instagramm.jpg')
						// right-content end
				// container end
				section.courses
					.container
						h2.title OUR COURSES
						ul.courses-list
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-1.jpg')
								.course-desc
									h4 BUOYANCY TECHNIQUES
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-2.jpg')
								.course-desc
									h4 ADVANCED DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-3.jpg')
								.course-desc
									h4 NITROX DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-4.jpg')
								.course-desc
									h4 NIGHT & LIMITED VISIBILITY
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#239fd8')
								a(href='#')
									img(src='images/img/course-img-5.jpg')
								.course-desc
									h4 underwater navigation
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#176cbb')
								a(href='#')
									img(src='images/img/course-img-6.jpg')
								.course-desc
									h4 deep diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#2b4483')
								a(href='#')
									img(src='images/img/course-img-7.jpg')
								.course-desc
									h4 wreck diving
									a.btn.btn-default(href='#' data-content='more') click to view
							li(style='background-color:#3d8bc5')
								a(href='#')
									img(src='images/img/course-img-8.jpg')
								.course-desc
									h4 RESCUE DIVER
									a.btn.btn-default(href='#' data-content='more') click to view
						// courses-list end
						.text-center
							a.btn.btn-default.view-all(href='#') view all our advanced courses
					// container end
				// courses end
				.container
					section.contents
						.left-content
							.contacts
								h4.title come, see us!
								p
									strong Address: 
									=' 670 Princes Highway, Kogarah NSW 2217 Australia'
									<br>
									strong Phone: 
									=' +61 2 95538738'
									<br>
									strong Mobile: 
									=' 0400 667 708'
								p
									strong We’re open:
									<br>
									=' Tuesday - Friday: 10am – 18pm'
									=' Saturday - Sunday: 8am – 17pm'
								p
									strong We speak:
									<br>
									=' English, Russian,  官話'
								img.team-img(src='images/img/team.jpg')
						// left-content end
						.right-content
							.feedback
								h4.title GET IN touch
								form
									.form-group.required
										label Your Name
										input.form-control(type='text')
									.form-group.required
										label Email
										input.form-control(type='email')
									.form-group
										label Phone number (we will call you back)
										input.form-control(type='text')
									.form-group.required
										label Your Message
										textarea.form-control
									button.btn.btn-default(type='submit') send
								// form end
							// feedback end
						// right-content end
					// contents end
				// container end
			// content end
		// main-container end
		footer#footer
			.container
				.footer-inner
					.footer-left
						nav.footer-nav
							ul
								li
									a(href='#') Learn To Dive
								li
									a(href='#') Dive Courses
								li
									a(href='#') Clib Dives, Events & Travel
								li
									a(href='#') Sydney Diving
								li
									a(href='#') About Us
						// footer-nav end
						.social-nets
							a(href='#')
								i.icon.icon-fb
							a(href='#')
								i.icon.icon-vk
							a(href='#')
								i.icon.icon-inst
							a(href='#')
								i.icon.icon-you

						// social-nets end
					// footer-left end
					.footer-right
						.footer-contacts
							span (02) 9553 8738
							span 0400 667 708
							a(href='mailto:info@scubathlon.com.au') info@scubathlon.com.au
						// footer-contacts end
						.copyright 2017 &copy; Scubathlon Australia
					// footer-right end
		include pug/scripts.pug
